body{
    margin: 0;
    padding: 0;
}

   
.collapse{
    margin-left: 84em;
    
}
button{
    border-radius: 35px;
}
.team{
    border-radius: 50%;
}
.cont{
    background-color: white;
}
.cont:hover{
    background-color: rgb(27, 109, 233);
}
    
